/*Footer*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    height: 35vh;
    max-height: 120px;
}

@media screen and (min-width: 1024px) {
    .footer__rodape{
        font-size: 16px;
        line-height: 19px;
    }
}

/*Tablet
@media screen and (min-width: 768px) {

}*/