/*Skills*/ /*Hobbies*/
.skills, .hobbies {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 .5rem;
}

.skills__title, .hobbies__title, .academic__title, .experience__section__title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin: 1.5rem 0;
}

.skills__line, .hobbies__line {
    display: grid;
    grid-template-columns: 50% 50%;
}

.skills__box, .hobbies__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: white;
    padding: 1rem;
    margin: .5rem;
    height: 15vh;
}

.skills__img, .hobbies__img {
    width: 8vh;
    margin-bottom: .5rem;
}

.skills__box:hover, .hobbies__box:hover {
    border-bottom:  solid var(--color-de-boton);
}

@media screen and (min-width: 1024px) {
    .skills, .hobbies {
        padding-right: calc((100% - 1200px)/2);
        padding-left: calc((100% - 1200px)/2);
    }

    .skills__line, .hobbies__line {
        grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    }

    .skills__box, .hobbies__box {
        height: 20vh;
    }

    .skills__title, .hobbies__title, .academic__title, .experience__section__title {
        font-size: 32px;
        line-height: 38px;
    }

    .skills__name, .hobbies__name {
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
    }
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .skills__line, .hobbies__line {
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}